# Proxy HTTPS traffic using a self-signed certificate
server {
listen 443 ssl default_server;
server_name {{ server_hostname }};

location / {
include /etc/nginx/proxy_params;
proxy_pass http://localhost:8080;
proxy_read_timeout 90s;
proxy_redirect http://localhost:8080 {{ server_hostname }};
}

ssl_certificate {{ certificate_dir }}/{{ server_hostname }}/fullchain.pem;
ssl_certificate_key {{ certificate_dir }}/{{ server_hostname }}/privkey.pem;
}
